.buttonPlusMinus {
  border: 1px solid purple;
  background-color: #83619e;
  border-radius: 25px;
  color: #bfdbf4;
  font-size: xx-large;
  font-weight: 400;
}

.buttonPlusMinus:hover {
  background-color: #845aa5;
  cursor: pointer;
}
